html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.cotizador-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
}
.cotizador-form label {
    display: block;
    margin-bottom: 10px;
}
.cotizador-form input, .cotizador-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.result {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

#cantidad{
    max-width: 100%;
    width: 95%;
}

.hero{
    background-image: url("../img/hero.png");
    max-width: 100%;
    min-height: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo img{
    max-width: 100%;
    width: 400px;
    margin-top: -100px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
}

.titulo h1{
    color:white;
    font-size: 60px;
    margin-top: -40px;
}

.titulo p{
    color:white;
    font-size: 40px;
    margin-top: -30px;
}

.button3 {
    background-color:black; 
    color: white; 
    border: 2px solid #60a100;
  }
  
  .button3:hover {
    background-color:orange;
    color: white;
  }

  .button {
    border: none;
    color: white;
    padding: 13px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5%;
  }

  .content-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
  }

  .title-cotizar h1{
    color: black;
    text-align: center;
    font-size: 30px;
  }

  .title-cotizar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }